@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section {
    background-color: white;
}

.container-one {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

li {
    list-style-type: none;
    width: 200px;
    color: white;
}
h1 {
    font-size: 75px;
    margin: 0;
    padding-bottom: 10px;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
}
p {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}
.subtitle {
    font-size: 15px;
    font-weight: 300px;
}
.logo {
    height: 60px;
    padding: 10px;
}
.area-one {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.title-one {
    margin-left: 80px;
    margin-bottom: 200px;
}
.tecnologies {
    display: flex;
    width: 180px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.tecnologies>i {
    padding: 10px;
}
.socials {
    padding-bottom: 200px;
}
.media {
    margin: 10px;
}
.container-subsection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.container-subsection-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.about-me h2 {
    margin-bottom: 20px;
}
.perfil {
    width: 250px;
    border-radius: 150px;
    margin-left: 80px;
    box-shadow: 3px 3px 8px rgb(110, 136,149);
}
.container-perfil {
    display: flex;
    align-items: center;
}
.project-board {
    width: 200px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(110, 136, 149);
    margin: 10px;
}
.container-project {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
    .container-project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 100px;
    }
}
@media only screen and (max-width:620px) {
    .container-project {
        display: flex;
        flex-wrap: wrap;
    }
}
.btn-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-projects a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef744b;
    margin: 10px 0;
    width: 170px;
    height: 30px;
    border-radius: 50px;
    color: #1c1d25;
}
.project-image {
    margin-top: 20px;
    width: 180px;
}
.hamburguer {
    display: none;
}

.hamburguer:focus {
    outline: 0;
} 
@media only screen and (max-width: 1000px) {
    .hamburguer {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0;
    }
    ul.show {
        display: block;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

footer>a {
    color: white;
}